{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock head %}

{% block content %}
    <main role="main" class="container text-center">
        <div class="jumbotron" style="background-color: rgba(255, 182, 193, 0.6) !important;">
            <h1><i class="fa fa-exclamation-triangle center" style="color:yellow"></i>&nbsp;&nbsp;&nbsp;&nbsp;你确定要删除所有临时文件吗？</h1>
            <br>
            <p class="lead">所有历史生成的数据包和对应的日志文件均将被删除！</p>
            <br>
            <a class="btn btn-lg btn-danger ml-5 mr-5" href="{{ url_for("deleted") }}" role="button">是</a>
            <a href="{{ request.referrer }}" class="btn btn-lg btn-success ml-5 mr-5">否</a>
        </div>
    </main>
{% endblock content %}