{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4 fa fa-spin" src="../static/images/tools.png" alt="" width="72" height="72">
        <h2>系统工具集</h2>
        <p class="lead"></p>
    </div>

    <br>
    <div class="ml-5 mr-5 text-center">
        <div class="form-group jumbotron pt-2 pb-3" style="background-color: rgba(233, 236, 239, 0.5) !important;">
            <h1 class="mt-0 mb-5" style="color: gray"><strong><u>历史文件存放站</u></strong></h1>
            <p class="lead" style="color: darkblue">
                最近一次生成的各协议对应的数据包和日志文件。
            </p>
            <a class="btn btn-lg btn-block btn-primary" href="{{ url_for("list_file") }}">进入存放站</a>
        </div>

        <div class="form-group jumbotron pt-2 pb-3" style="background-color: rgba(233, 236, 239, 0.5) !important;">
            <h1 class="mt-0 mb-5" style="color: gray"><strong><u>批量生成</u></strong></h1>
            <p class="lead" style="color: darkblue">
                快速生成多个协议的测试数据包和对应的日志文件。
            </p>
            <a class="btn btn-lg btn-block btn-primary" href="{{ url_for("make_all") }}">填写测试信息</a>
        </div>
    </div>
    <a href="{{ request.referrer }}" class="btn btn-lg btn-secondary">返回</a>
{% endblock content %}